src/resources/ine.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.balhau.net/ine/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="ine" targetNamespace="http://www.balhau.net/ine/">
	
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.balhau.net/ine/">
      <xsd:element name="getStatisticsServices">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getStatisticsServicesResponse1" type="tns:INEStatServ">
      </xsd:element>
    
      <xsd:complexType name="INEStatServ">
      	<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="serviceURL" type="xsd:string"></xsd:element>
			</xsd:sequence>
      </xsd:complexType>
        
       <xsd:complexType name="INETableData">
       		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
       			<xsd:element name="INEMap" minOccurs="0" maxOccurs="unbounded">
       				<xsd:complexType name="KeyVal">
       					<xsd:sequence minOccurs="0" maxOccurs="unbounded">
		       				<xsd:element name="key" type="xsd:string"></xsd:element>
		       				<xsd:element name="val" type="xsd:string"></xsd:element>
	       				</xsd:sequence>
       				</xsd:complexType>
       			</xsd:element>
       		</xsd:sequence>
       </xsd:complexType>
       <xsd:element name="INEGetStatistics">
       	<xsd:complexType>
       		<xsd:sequence>
       			<xsd:element name="INEServiceURL" type="xsd:string"></xsd:element>
       			<xsd:element name="INEServiceStartDate" type="xsd:date"></xsd:element>
       		</xsd:sequence>
       	</xsd:complexType>
       </xsd:element>
       <xsd:element name="NewOperationResponse">
       	<xsd:complexType>
       		<xsd:sequence>
       			<xsd:element name="out" type="xsd:string"></xsd:element>
       		</xsd:sequence>
       	</xsd:complexType>
       </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getUserByIdRequest">
    <wsdl:part element="tns:getUserById" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserByIdResponse">
    <wsdl:part element="tns:getUserByIdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getStatisticsServicesRequest">
  	<wsdl:part name="parameters" element="tns:getStatisticsServices"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
  	<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatisticsServicesResponse1">
  	<wsdl:part name="parameters" element="tns:getStatisticsServicesResponse1"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatisticsRequest">
  	<wsdl:part name="parameters" element="tns:getStatistics"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatisticsResponse1">
  	<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="INEWebService">
        <wsdl:operation name="getStatisticsServices">
        	<wsdl:input message="tns:getStatisticsServicesRequest"></wsdl:input>
        	<wsdl:output message="tns:getStatisticsServicesResponse1"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatistics">
        	<wsdl:input message="tns:getStatisticsRequest"></wsdl:input>
        	<wsdl:output message="tns:getStatisticsResponse1"></wsdl:output>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ineSOAP" type="tns:getChildren">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUserById">
      <soap:operation soapAction="http://www.balhau.net/ine/getUserById"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ine">
    <wsdl:port binding="tns:ineSOAP" name="ineSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
